.postWrapper
    margin-top: 1rem
    display: flex
    flex-direction: row
    justify-content: flex-start
    padding: .625rem
    .post__user-img
        flex-shrink: 0
        width: 60px
        height: 60px
        border-radius: 50%
        img
            width: 100%
            border-radius: 50%
    .post__text
        display: flex
        align-items: center
        position: relative
        padding-left: 2rem
    .post__like
        color: #858585
        margin-left: 2rem