.user__about, .userInfoForm
    margin: 0 .5rem 1rem 1rem
    padding: .5rem
    background: #fafeff
    border: 1px solid #d1d1d1
    border-radius: 5px
.user__about
    flex: 1
    .user__title
    .user__item-about,
    .user__item-contact
        padding: .5rem
        margin: 1rem 0
        font-size: 1rem
        color: #555555
        border: 1px solid #b2b2b2
        border-radius: 5px
.user__item-contact
    display: flex
    align-items: center
    justify-content: flex-start
    border: 2px solid #00000023
    .user__item-about-link
        padding-left: .5rem
        a
            font: inherit
            color: #25bdd8
            font-size: inherit
            text-decoration: none
            &:hover
                text-decoration: underline
.user__title
    text-align: right
    margin: 0
    padding: 0
.wrapperStyle
    width: 100%
    height: 2rem
    button
.userInfoForm
    .user__description
        display: grid
        grid-template-columns: 1fr 3fr
        .user__item-about
            display: flex
            margin-left: 1rem
            align-items: center
            font-weight: 700
        .statusInput, .requestResponse
            width: 100%
            padding: .5rem
            margin: .5rem 0
            font-size: 1rem
            border: 1px solid
            // border-radius: 5px
            // border: 1px solid #25bdd8
            border: none
            border-radius: 5px
            background: #81818146
            &.checkbox
                width: auto
    .saveWrapperStyle, .cancelWrapperStyle
        button
            padding: .5rem
            border: 2px solid
            border-radius: 5px
    .saveWrapperStyle
    .cancelWrapperStyle
@media (max-width: 767px)
    .user__about, .userInfoForm
        margin: 0 .5rem 1rem 1rem
@media (max-width: 450px)
    .user__about, .userInfoForm
        margin: 0 0 .5rem .5rem
