.app
    width: 80vmax
    height: 100vmin
    margin: 0 auto
    overflow: hidden
    .wrapper
        display: grid
        grid-template-columns: 1fr 5fr
        align-items: start
        height: 100%
        padding: 0 1.25rem .625rem 1.25rem
        font-family: 'Lato', sans-serif
        background: #fafeff
.app-wrapper-content
    height: 100%
    overflow: hidden
    color: #47525E
    &::-webkit-scrollbar
        width: 0
.preloader
    width: 100vmax
    height: 100vmin
    text-align: center