.user
    padding: 0
    .userHeader
        display: grid
        grid-template-columns: 1fr 3fr
.wrapperInfoStyle
    margin: 0 1rem 1rem 0
@media (max-width: 767px)
    .user
        padding-top: 10px