.header
    height: 40px
    line-height: 40px
    grid-column: 1 / span 3;
    margin: 10px 0
    background-color: #25bdd8
    border-radius: 3px
    .headerTitleWrapper
        transition: all .5s
        .headerMainTitle
            display: flex
            align-items: center
            justify-content: space-between
            margin: 0
            padding: 0 1rem
            text-align: center
            font-size: 2rem
            color: #f0f1f3
            a
                color: inherit
                font: inherit
                text-decoration: none
                font-size: 1rem
.userName
    font-size: 2rem
    color: #333
    text-decoration: none
    transition: all .2s
    &:hover
        text-decoration: underline
        color: #47525E
.wrapperStyle
.btnStyle
    background: none
    text-align: right
    &:hover
        background: none
@media screen and (max-width: 800px)
    .headerMainTitle
        font-size: 1.5rem

@media (max-width: 768px)
    .additionalTitleContent
        display: none
    .header
        width: 100%
        height: 50px
        line-height: 50px
        margin: 0
        .headerTitleWrapper
            .headerMainTitle
@media screen and (min-aspect-ratio: 4/3)
    .header
        width: 100%


