.userImgWrapper
    width: 10rem
    height: 10rem
    margin-right: 1rem
    img
        width: 100%
        height: 100%
        border-radius: 50%
@media (max-width: 767px)
    .userImgWrapper
        width: 80px
        height: 80px