.userNameWithStatus
    margin: 1rem
    margin-left: 0
    padding: .5rem
    background: #fafeff
    border: 1px solid #d1d1d1
    border-radius: 12px
    .user__name
        text-align: center
        margin: 0 1rem .5rem 0
        font-size: 1.5rem
        line-height: 1.5